POSTGRES_DB=dollar_quotation_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
JWT_SECRET_KEY=yVeoHkcrCUSH8KgXcmAmrF5wTp8a3Ac3bUSrh2RuDMZLqR9sbh1jo0SrdufetMBK
EMAIL_PASSWORD=lvoxbiampipfnbib
RABBITMQ_USER=dollarquotation
RABBITMQ_PASSWORD=SUA_SENHA_FORTE_DO_RABBITMQ